name: create documentation and puplish to github pages
on:
  push:
    branches: [ "develop" ]
  workflow_dispatch:  
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: actions/setup-node@v6.0.0
      with:
        node-version: '24.x'
    - name: install dependencies
      run: yarn install
      working-directory: lib
    - name: build documentation
      run: yarn run jsdocumentation
      working-directory: lib
    - name: Setup Pages
      uses: actions/configure-pages@v5.0.0
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4.0.0
      with:
        path: './lib/docs'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
