name: Publish package to GitHub Packages
on:
  release:
    types: [published]
  workflow_dispatch: 
jobs:
  github:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: '24.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@sinc-gmbh'
      - name: Build Package
        run: |
          yarn install --immutable
          yarn run build
        working-directory: lib
      - name: publisch Package to Github
        run: |
          yarn config set npmRegistryServer 'https://npm.pkg.github.com'
          yarn config set npmAuthToken ${{ secrets.GITHUB_TOKEN }}
          yarn npm publish --access public
        working-directory: lib
  npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@sinc-gmbh'
      - name: copy readme
        run: |
          cp README.md lib/README.md
      - name: Build Package
        run: |
          yarn install --immutable
          yarn run build
        working-directory: lib
      - name: publisch Package to Github
        run: yarn npm publish
        working-directory: lib
