name: Publish package to GitHub Packages
on:
  release:
    types: [published]
  workflow_dispatch: 
jobs:
  github:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: '24.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@sinc-gmbh'
      - name: Yarn Install
        run: yarn install --immutable
        working-directory: lib
      - name: Build Package
        run: yarn run build
        working-directory: lib
      - name: publisch Package to Github
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: lib
  npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@sinc-gmbh'
      - name: Yarn Install
        run: yarn install --immutable
        working-directory: lib
      - name: Build Package
        run: yarn run build
        working-directory: lib
      - name: publisch Package to Github
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: lib
